<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.achartengine.chartdemo.demo"
    android:versionCode="1"
    android:versionName="1.0.0" android:installLocation="auto" android:allowBackup="true" >

    <application
        android:icon="@drawable/achartengine"
        android:label="@string/app_name" >
        <activity
            android:name=".ChartDemo"
            android:label="AChartEngine demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.achartengine.chartdemo.demo.chart.XYChartBuilder" />
        <activity android:name="org.achartengine.chartdemo.demo.chart.PieChartBuilder" />
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name=".GeneratedChartDemo" />
    </application>

    <!-- uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" / -->

</manifest>